html {
    background-color: white;
    color: black;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255,255,255);
    color: rgb(33,33,33);
    font-family: serif;
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-style: italic;
    line-height: 1;
    margin: 0;
    padding: 1em 0 0;
}
h1 {
    font-size: 7vw;
}
h2 {
    font-size: 6vw;
}
h3 {
    font-size: 5vw;
}
h4 {
    font-size: 4vw;
}
p, ul, ol, li {
    margin: 0;
    padding: 1em 0 0;
}
a:link {
    color: rgb(204,0,0);
}
a:hover,
a:focus {
    color: rgb(255,0,0);
}
a:visited {
    color: rgb(153,0,0);
}
a:active {
    color: rgb(102,0,0);
}
mark {
    background-color: transparent;
}

.logo {
    display: block;
    font-weight: normal;
    font-style: italic;
    line-height: 1;
    text-transform: lowercase;
    font-size: 10vw;
    color: rgb(51,51,51);
    text-decoration: none;
    margin: 0;
    padding: 1rem;
}
a.logo {
    color: rgb(51,51,51);
}

nav,
main,
footer > div {
    margin: 0 auto;
    padding: 1rem;
    max-width: 35rem;
}

nav {
    font-variant: small-caps;
    font-size: 1.25rem;
    letter-spacing: 0.1em;
    margin: 0 auto;
    padding: 1rem;
    max-width: 35rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
}
nav a:not(:last-child),
nav mark:not(:last-child) {
    padding-right: 1em;
}
main {
    padding-bottom: 20vh;
}
main > p:first-of-type {
    font-size: 1.25em;
    line-height: 1.35;
}
footer {
    background-color: rgb(51,51,51);
    color: rgb(255,255,255);
}