* {
    margin: 0;
    padding: 0;
}
html {
    background-color: white;
    color: black;
}
body {
    background-color: rgb(255,255,255);
    color: rgb(33,33,33);
    font-family: serif;
    line-height: 1.5;
}
@media screen and (prefers-color-scheme: dark) {
    html {
        background-color: black;
        color: color;
    }
    body {
        background-color: rgb(33,33,33);
        color: rgb(204,204,204);
    }
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-style: italic;
    line-height: 1;
    margin: 0;
    padding: 1em 0 0;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.8rem;
}
h4 {
    font-size: 1.5rem;
}
@media screen and (min-width: 20rem) {
    h1 {
        font-size: calc(2.5rem + 2 * ((100vw - 20rem) / 60));
    }
    h2 {
        font-size: calc(2rem + 2 * ((100vw - 20rem) / 60));
    }
    h3 {
        font-size: calc(1.8rem + 2 * ((100vw - 20rem) / 60));
    }
    h4 {
        font-size: calc(1.5rem + 2 * ((100vw - 20rem) / 60));
    }
} 
@media screen and (min-width: 80rem) {
    h1 {
        font-size: 4.5rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 3.8rem;
    }
    h4 {
        font-size: 3.5rem;
    }
}
p, ul, ol, li {
    margin: 0;
    padding: 1em 0 0;
}
a:link {
    color: rgb(204,0,0);
}
a:visited {
    color: rgb(153,0,0);
}
a:hover,
a:focus {
    color: rgb(255,0,0);
}
a:active {
    color: rgb(102,0,0);
}
@media screen and (prefers-color-scheme: dark) {
    a:link {
        color: rgb(204,102,102);
    }
    a:visited {
        color: rgb(204,85,85);
    }
    a:hover,
    a:focus {
        color: rgb(255,102,102);
    }
    a:active {
        color: rgb(102,51,51);
    }
}
mark {
    background-color: transparent;
    color: inherit;
}

.logo {
    display: block;
    font-weight: normal;
    font-style: italic;
    line-height: 1;
    text-transform: lowercase;
    font-size: 10vw;
    color: rgb(51,51,51);
    text-decoration: none;
    margin: 0;
    padding: 1rem;
}
a.logo {
    color: rgb(51,51,51);
}
@media screen and (prefers-color-scheme: dark) {
    .logo,
    a.logo {
        color: rgb(153,153,153);
    }
}
nav,
main,
footer > div {
    margin: 0 auto;
    padding: 1rem;
    max-width: 40rem;
}

nav {
    font-variant: small-caps;
    font-size: 1.25rem;
    letter-spacing: 0.1em;
}
nav > * {
    display: block;
}
@media screen and (min-width: 30rem) {
    nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
nav a {
    text-decoration: none;
}
main {
    padding-bottom: 20vh;
    font-size: 1rem;
}
@media screen and (min-width: 20rem) {
    main {
        font-size: calc(1rem + 0.5 * ((100vw - 20rem) / 60));
    }
}
@media screen and (min-width: 80rem) {
    main {
        font-size: 1.5rem;
    }
}
main > p:first-of-type {
    font-size: 1.25em;
    line-height: 1.35;
}
footer {
    background-color: rgb(51,51,51);
    color: rgb(255,255,255);
}