 :root {
    --fluid-min-width: 240;
    --fluid-max-width: 840;
    --fluid-min-size: 16;
    --fluid-max-size: 24;
    --fluid-min-ratio: 1.2;
    --fluid-max-ratio: 1.25;
    --step--2: clamp(0.6944rem, 0.5881rem + 0.7083vw, 0.96rem);
    --step--1: clamp(0.8331rem, 0.6864rem + 0.9783vw, 1.2rem);
    --step-0: clamp(1rem, 0.8rem + 1.3333vw, 1.5rem);
    --step-1: clamp(1.2rem, 0.93rem + 1.8vw, 1.875rem);
    --step-2: clamp(1.44rem, 1.0785rem + 2.41vw, 2.3438rem);
    --step-3: clamp(1.7281rem, 1.2474rem + 3.205vw, 2.93rem);
    --step-4: clamp(2.0738rem, 1.4385rem + 4.235vw, 3.6619rem);
    --step-5: clamp(2.4881rem, 1.6524rem + 5.5717vw, 4.5775rem);
}

@font-face {
    font-family: 'ebgaramond';
    src: url('/fonts/ebgaramond-variablefontwght-webfont.woff2') format('woff2');
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'ebgaramond-italic';
    src: url('/fonts/ebgaramond-italic-variablefontwght-webfont.woff2') format('woff2');
    font-style: italic;
    font-display: fallback;
}

* {
    margin: 0;
    padding: 0;
}
html {
    background-color: white;
    color: black;
}
body {
    background-color: rgb(255,255,255);
    color: rgb(33,33,33);
    font-family: 'ebgaramond', serif;
    line-height: 1.5;
    min-block-size: 100vb;
    display: flex;
    flex-direction: column;
}
@media screen and (prefers-color-scheme: dark) {
    html {
        background-color: black;
        color: white;
    }
    body {
        background-color: rgb(33,33,33);
        color: rgb(204,204,204);
    }
}
img {
  max-inline-size: 100%;
  block-size: auto;
}
cite,em,i,blockquote,q {
    font-family: 'ebgaramond-italic', serif;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-family: 'ebgaramond-italic', serif;
    font-style: italic;
    line-height: 1;
    margin: 0;
    padding-block-start: 1em;
}
h1 {
    font-size: var(--step-4);
}
h2 {
    font-size: var(--step-3);
}
h3 {
    font-size: var(--step-2);
}
h4 {
    font-size: var(--step-1);
}
p, ul, ol, li {
    margin: 0;
    padding-block-start: 1em;
}
a:link {
    color: rgb(204,0,0);
}
a:visited {
    color: rgb(153,0,0);
}
a:hover,
a:focus {
    color: rgb(255,0,0);
}
a:active {
    color: rgb(102,0,0);
}
@media screen and (prefers-color-scheme: dark) {
    a:link {
        color: rgb(204,102,102);
    }
    a:visited {
        color: rgb(204,85,85);
    }
    a:hover,
    a:focus {
        color: rgb(255,102,102);
    }
    a:active {
        color: rgb(102,51,51);
    }
}
mark {
    background-color: transparent;
    color: inherit;
}

.logo {
    display: block;
    font-weight: normal;
    font-family: 'ebgaramond-italic', serif;
    font-style: italic;
    line-height: 1;
    text-transform: lowercase;
    font-size: 10vw;
    color: rgb(51,51,51);
    text-decoration: none;
    margin: 0;
    padding: 1.5rem;
}
a.logo {
    color: rgb(51,51,51);
}
@media screen and (prefers-color-scheme: dark) {
    .logo,
    a.logo {
        color: rgb(153,153,153);
    }
}
nav,
main,
footer > div {
    box-sizing: border-box;
    inline-size: 100%;
    max-inline-size: 35em;
    margin-block: 0;
    margin-inline: auto;
    padding: var(--step--2);
}

nav {
    font-variant: small-caps;
    font-size: var(--step-1);
    letter-spacing: 0.1em;
}
nav > * {
    display: block;
}
@media all and (min-width: 30rem) {
    nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
nav a {
    text-decoration: none;
}
main {
    flex: 1;
    font-size: var(--step-0);
    padding-block-end: var(--step-4);
}
main > p:first-of-type {
    font-size: var(--step-1);
    line-height: 1.35;
}
footer {
    background-color: rgb(51,51,51);
    color: rgb(255,255,255);
}

.bookshelf {
    display: grid;
    margin-block: var(--step-5);
    margin-inline: auto;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
}
@media all and (min-width: 35em) {
    .bookshelf {
        margin-inline: calc((35em - 100vi) /2);
    }
}
@media all and (min-width: 60em) {
    .bookshelf {
        grid-template-columns: repeat(auto-fill, minmax(12.5em, 1fr));
    }
}
@media all and (min-width: 90em) {
    .bookshelf {
        grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    }
}
.bookshelf img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}